*
    {margin: 0;
    padding: 0;
    box-sizing: border-box;}

body
    {font-family: 'Kaisei Tokumin','Nanum Myeongjo','Noto Sans KR';
    font-size: 1em;}

ul li
    {list-style-type: none;}

a
    {text-decoration: none;
    color: #707070;}

